.main{
  max-width: 1200px;
  margin: 50px auto;
  min-height: 600px;
}

.half{
  width: 50%;
  height: 600px;
  max-width: 475px;
}

.half-col{
  height: 45%;
  width: 100%;
  border: 2px solid grey;
  background-size: 600px auto;
  transition: all 0.6s;
  background-position: center;
}

.contacts{
  background-image: url(./../Assets/Footer/contacts.jpg);
}

.skills-1{
  background-image: url(./../Assets/Footer/skills.jpg);
}

.skills-1, .contacts, .half:first-child{
  cursor: pointer;
}

.half-col:first-child:hover{
  background-size: 700px auto;
  opacity: 0.3;
}
.half-col:nth-child(2):hover .inside{
  transform: translateX(100%);
}

.half-row{
  width: 100%;
  height: 50%;
  background-size: 400px auto;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.6s;
}

.proj-1{
  background-image: url(./../media/Poker-react.jpg);
}
.proj-2{
  background-image: url(./../media/covid-app.png);
}

.half:first-child:hover .proj-1{
  background-position: top;
}
.half:first-child:hover .proj-2{
  background-position: bottom;
}
.half:first-child:hover .click{
  transform: scale(1);
  opacity: 1;
}

.click{
  position: absolute;
  margin-top: 280px;
  margin-left: 180px;
  font-size: 30px;
  transition: all 0.6s;
  opacity: 0;
  transform: scale(0.3);
}

.inside{
  height: 100%;
  width: 50%;
  background-color: rgba(80,80,80,0.3);
  transform: translateX(201%);
  font-family: Roboto-Bold;
  font-size: 40px;
  transition: all 0.6s;
}
.inside-2{
  height: 100%;
  width: 50%;
  background-color: var(--back);
  transform: translateX(101%);
}
